<footer class="bg-dark text-white-50 mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white fw-bold"><i class="fas fa-store me-2"></i>TechStore</h5>
                <p class="small">Tu tienda de tecnología favorita. Encontramos los mejores productos para ti.</p>
                <div class="social-links mt-2">
                    <a href="#" class="text-white-50 me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white-50 me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white-50 me-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white-50 me-2"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <h6 class="text-white fw-bold">Enlaces</h6>
                <ul class="list-unstyled small">
                    <li><a routerLink="/products" class="text-white-50 text-decoration-none">Productos</a></li>
                    <li><a routerLink="/contacto" class="text-white-50 text-decoration-none">Contacto</a></li>
                    <li><a routerLink="/carrito" class="text-white-50 text-decoration-none">Carrito</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-white fw-bold">Contacto</h6>
                <address class="small">
                    <i class="fas fa-map-marker-alt me-2"></i>Av. Tecnológica 123<br>
                    <i class="fas fa-phone me-2"></i><a href="tel:+18091234567" class="text-white-50 text-decoration-none">+1 (809) 123-4567</a><br>
                    <i class="fas fa-envelope me-2"></i><a href="mailto:info@techstore.com" class="text-white-50 text-decoration-none">info@techstore.com</a>
                </address>
            </div>
            <div class="col-md-3">
                <h6 class="text-white fw-bold">Horario</h6>
                <p class="small"><i class="fas fa-clock me-2"></i>Lun-Vie: 9am - 9pm</p>
                <p class="small"><i class="fas fa-clock me-2"></i>Sáb: 10am - 6pm</p>
                <p class="small"><i class="fas fa-clock me-2"></i>Dom: Cerrado</p>
            </div>
        </div>
        <hr class="border-secondary">
        <div class="text-center small">
            &copy; 2026 TechStore. Todos los derechos reservados.
        </div>
    </div>
</footer>